@media only screen and (max-width:1279px) {
    .sidetoc {
        display: none;
    }
}

@media only screen and (min-width:1280px) {
    main {
        position: relative;
        /* display: none; */
    }

    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        left: calc(100% + (var(--content-max-width))/4 - 190px);
        position: absolute;
    }

    .pagetoc {
        position: fixed;
        width: 250px;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);

        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .pagetoc::-webkit-scrollbar {
        display: none;
        width: 0 !important
    }

    .pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        /* right shift */
        padding-left: 50px;
        text-align: left;
        text-decoration: none;
        /* word-break: break-all; */
    }

    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }

    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}

@media print {
    .sidetoc {
        display: none;
    }
}